<footer class="site-footer" aria-label="Footer">
    <div class="site-footer-inner">
        <img class="site-footer-logo" src="{{ url_for('static', filename='images/logo-footer.webp')}}" alt="Redstone Register logo." width="397" height="55">
        <p class="site-footer-copy">©2026 Redstone Register</p>
        <ul class="site-footer-pages" aria-label="Pages">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('catalogue') }}">Catalogue</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </div>
</footer>
