<!DOCTYPE html>
<html lang="en-AU" data-theme="dark">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Redstone Register</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <link rel="icon" type="image/webp" href="{{ url_for('static', filename='images/favicon.webp') }}">
    
</head>
<body{% if page_name %} class="page-{{ page_name }}"{% endif %}>
    <div class="site-shell">
        <main>
        {% include "partials/menu.html" %}
        {% block content %}{% endblock %}
        </main>
    </div>
    {% include "partials/footer.html" %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
